{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Content Explorer
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-third">

      <h2 class="heading-small">Organisations</h2>

      <ul class="list">

        {% for organisation in organisations %}

          <li>
            <a class="font-xsmall" href="?organisations={{organisation.slug}}">{{organisation.name}}</a>
            <span class="count font-xsmall">{{organisation.count}}</span>
          </li>

        {% endfor %}

      </ul>

      <h2 class="heading-small">Formats</h2>

      <ul class="list">

        {% for format in formats %}

          <li>
            <a class="font-xsmall" href="?formats={{format.slug}}">{{format.name}}</a>
            <span class="count font-xsmall">{{format.count}}</span>
          </li>

        {% endfor %}

      </ul>

    </div>

    <div class="column-two-thirds">

      <p>
        {{totalResults}} results
      </p>

      <ul class="list results">

        {% for result in results %}

          <li class="result">
            <strong>
              <a href="https://gov.uk/{{result.link}}" target="_blank">{{result.title}}</a>
            </strong>
          </li>

        {% endfor %}

      </ul>

      <a href="/search?start={{prevPage}}{{formatsQuery}}{{organisationsQuery}}">Previous</a>
      <a href="/search?start={{nextPage}}{{formatsQuery}}{{organisationsQuery}}">Next</a>

    </div>
  </div>
</main>

{% endblock %}
