{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Content Explorer
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#organisations-picker'),
      showAllValues: true,
      autoselect: false
    })
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#formats-picker'),
      showAllValues: true,
      autoselect: false
    })
  </script>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="/public/stylesheets/accessible-autocomplete.min.css" />

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-third">

      <form action="">

        <div class="form-group">

          <h2 class="heading-small">Organisations</h2>

          <select name="organisations" id="organisations-picker">

            <option value="">Select an organisation</option>

            {% for organisation in organisations %}

              <option value="{{organisation.slug}}">{{organisation.name|safe}} ({{organisation.count}})</option>

            {% endfor %}

          </select>

        </div>


        <div class="form-group">

          <h2 class="heading-small">Formats</h2>

          <select name="formats" id="formats-picker">

            <option value="">Select a format</option>

            {% for format in formats %}

              <option value="{{format.slug}}">{{format.name|safe}} ({{format.count}})</option>

            {% endfor %}

          </select>

        </div>

        <div class="form-group">

          <button class="button">Filter</button>

        </div>

      </form>

    </div>

    <div class="column-two-thirds">

      <p>
        {{totalResults}} results
      </p>

      <ul class="list results">

        {% for result in results %}

          <li class="result">
            <strong>
              <a href="https://gov.uk/{{result.link}}" target="_blank">{{result.title}}</a>
            </strong>
          </li>

        {% endfor %}

      </ul>

      <a href="/?start={{prevPage}}{{formatsQuery}}{{organisationsQuery}}">Previous</a>
      <a href="/?start={{nextPage}}{{formatsQuery}}{{organisationsQuery}}">Next</a>

    </div>
  </div>
</main>

{% endblock %}
